html, body {
    height: 100%;
}

body {
    padding-top: 15px;
}

.inline-icon {
    display: inline;
    height: 0.8em;
}

.icon {
    display: inline;
    height: 2.4em;
    margin-right: 1em;
}

.no-margin {
    margin: 0;
}

min-h-100 {
    min-height: 100%;
}