html, body {
    height: 100%;
}

body {
    background-color: cadetblue;
    padding-top: 15px;
}

.inline-icon {
    display: inline;
    height: 0.8em;
}

.icon {
    display: inline;
    height: 2.4em;
    margin-right: 1em;
}

.no-margin {
    margin: 0;
}

.min-h-100 {
    min-height: 100%;
}

.margin-top {
    margin-top: 15px;
}

.padding-top {
    padding-top: 15px;
}

#nyt-video {
    min-height: 300px;
    width: 100%;
}

img {
    width: 100%;
}